# Binaries


# OS files
.DS_Store

# Editor files
.vscode/
.idea/

# Dependency directories
vendor/

# Output files
*.out

# Data files
todos.json

# Test cache
*.test

# Log files
*.log

# DB files
*.db